@import url('createIncomeCategory.css');

.create-input {
  margin-bottom: 10px;
}

.create-input select {
  width: 397px;
  height: 38px;
  padding: 7px 16px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  color: #6C757D;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}

.create-input input {
  margin-bottom: 10px;
}




