@import url('incomeCategories.css');

.main-header {
  margin-bottom: 40px;
}

.create-expense {
  background: #DC3545;
  color: white;
  width: 137px;
  padding: 10px;
}

.create-expense:hover {
  background: #96262f;
  color: white;
}


.create-income {
  background: #198754;
  color: white;
  margin-right: 10px;
  width: 130px;
  padding: 10px;

}

.create-income:hover {
  background: #115b39;
  color: white;
}

.table {
  margin-bottom: 38px;
}

.operations {
  border-top: 1px solid #DEE2E6;
}

.operations-header {
  font-weight: bold;
  color: #052C65;
  padding: 15px 0;
  letter-spacing: 1.33px;
}

.operation-title {
  margin: 0 15px;
  width: 110px;
}

.list, .operations-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-bottom: 1px solid #DEE2E6;
}

.list {
  color: #000000;
  padding: 15px 0;
  word-wrap: break-word;
  letter-spacing: 1px;
}

.comment {
  width: 200px;
}


.btn-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  margin: 0;
}

.incomesCat {
  color: #198754;
}

.expenseCat {
  color: #DC3545;
}